* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: rgb(76, 75, 75);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.about-sect {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: #2a2a2a;
	padding: 30px 60px;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 1px 2px 15px rgba(198, 198, 198, 0.191);
}

.main-nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	color: #2a2a2a;
}

.header .logo {
	font-family: fantasy;
	color: coral;
	font-weight: 600;
}

.main-nav ul li a {
	text-decoration: none;
	color: #2a2a2a;
}
.main-nav ul li a.active {
	color: coral;
	font-weight: 600;
}

.about-us-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	padding: 60px;
}
.about-img,
.about-text {
	width: 45%;
}
.about-img img {
	width: 100%;
	border: none;
	border-radius: 16px;
}
.section-title {
	color: coral;
	font-size: 40px;
}

.about-us-section p {
	font-size: 18px;
}
.btn-nav {
	padding: 30px 60px;
}
.button {
	background-color: coral;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	padding: 16px;
	cursor: pointer;
}
.button a {
	text-decoration: none;
	color: white;
}

/* CHEF STYLING */
.our-chefs-section {
	display: flex;
	gap: 20px;
	flex-direction: column;
	text-align: center;
	padding: 50px 30px;
}

.chef-profile {
	margin-bottom: 40px;
}

.chef-sect {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	padding: 30px;
}
.chef-profile,
.about-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.chef-profile p {
	color: rgb(76, 75, 75);
	font-size: 14px;
}
.profile-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.chef-profile p.role {
	font-family: fantasy;
	font-weight: 800;
	color: coral;
}
.chef-profile {
	border: none;
	border-radius: 16px;
}
.chef-profile img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.footer {
	text-align: center;
	padding: 20px 0;
	background-color: coral;
	color: white;
}

/* TABLET RESPONSIVENESS */
@media only screen and (max-width: 768px) {
	.header {
		padding: 30px;
	}
	.about-us-section {
		padding: 30px;
		gap: 20px;
	}
	.nav a {
		font-size: 14px;
	}

	.section-title {
		font-size: 32px;
	}

	.about-us-section p {
		font-size: 14px;
	}
	.chef-sect {
		gap: 20px;
		padding: 30px 0;
	}
	.chef-profile img {
		width: 120px;
		height: 120px;
	}
	.chef-profile p {
		font-size: 12px;
	}
	.btn-nav {
		padding: 30px;
	}
}

/*  MOBILE RESPONSIVENESS */
@media only screen and (max-width: 480px) {
	.header {
		flex-direction: column;
		gap: 5px;
		padding: 18px;
	}
	.header .logo {
		font-size: 16px;
	}
	.main-nav ul li a {
		font-size: 14px;
	}
	.about-us-section {
		padding: 18px;
		flex-direction: column;
	}
	.our-chefs-section {
		padding: 18px;
	}
	.about-text,
	.about-img {
		width: 100%;
	}
	.about-img img {
		border-radius: 12px;
	}
	.section-title {
		font-size: 28px;
	}
	.chef-sect {
		flex-direction: column;
	}
	.about-us-section p {
		font-size: 14px;
	}
	.chef-profile img {
		width: 100px;
		height: 100px;
	}

	.chef-profile p {
		font-size: 14px;
	}
	.footer p {
		font-size: 14px;
	}
    .btn-nav{
    padding: 30px 18px;
}
}
