* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	color: rgb(76, 75, 75);
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: #2a2a2a;
	padding: 30px 60px;
	position: sticky;
	top: 0;
    right:0;
    left:0;
    box-shadow: 1px 2px 15px rgba(198, 198, 198, 0.191);
}

.main-nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	color: #2a2a2a;
}

.header .logo{
    font-family: cursive;
    color: coral;
	font-weight: 600;
}

.main-nav ul li a {
	text-decoration: none;
	color: #2a2a2a;
}
.main-nav ul li a.active {
	color: coral;
	font-weight: 600;
}

.recipe-categories-section {
	text-align: center;
	padding: 50px;
	background-color: #f8f8f8;
}

.section-title {
	color: rgb(230, 29, 96);
	font-size: 30px;
}

.recipe-list-section {
	text-align: center;
	padding: 50px 0;
	background-color: #f8f8f8;
}

.recipe-list-section .section-title {
	margin-bottom: 30px;
}

.site-footer {
	text-align: center;
	padding: 20px 0;
	background-color: rgb(230, 29, 96);
	color: white;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
	.main-nav ul li {
		display: block;
		margin-bottom: 10px;
	}

	.main-nav a {
		font-size: 16px;
	}

	.recipe-categories-section,
	.recipe-list-section {
		padding: 30px;
	}

	.section-title {
		font-size: 28px;
	}
}

@media only screen and (max-width: 480px) {
	.main-nav {
		text-align: center;
	}

	.main-nav ul {
		padding-top: 10px;
	}

	.main-nav ul li {
		display: block;
		margin-bottom: 10px;
	}

	.recipe-categories-section,
	.recipe-list-section {
		padding: 20px;
	}

	.section-title {
		font-size: 24px;
	}
}
