* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	color: rgb(76, 75, 75);
}

.site-header {
	background-color: white;
	color: #2a2a2a;
	padding: 10px;
}


.main-nav ul {
	list-style: none;
}

.main-nav ul li {
	display: inline;
	margin-right: 20px;
}

.main-nav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

.header .logo h4{
    font-family: cursive;
}
.recipe-categories-section {
	text-align: center;
	padding: 50px;
	background-color: #f8f8f8;
}

.section-title {
	color: rgb(230, 29, 96);
	font-size: 30px;
}

.recipe-list-section {
	text-align: center;
	padding: 50px 0;
	background-color: #f8f8f8;
}

.recipe-list-section .section-title {
	margin-bottom: 30px;
}

.site-footer {
	text-align: center;
	padding: 20px 0;
	background-color: rgb(230, 29, 96);
	color: white;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
	.main-nav ul li {
		display: block;
		margin-bottom: 10px;
	}

	.main-nav a {
		font-size: 16px;
	}

	.recipe-categories-section,
	.recipe-list-section {
		padding: 30px;
	}

	.section-title {
		font-size: 28px;
	}
}

@media only screen and (max-width: 480px) {
	.main-nav {
		text-align: center;
	}

	.main-nav ul {
		padding-top: 10px;
	}

	.main-nav ul li {
		display: block;
		margin-bottom: 10px;
	}

	.recipe-categories-section,
	.recipe-list-section {
		padding: 20px;
	}

	.section-title {
		font-size: 24px;
	}
}
